<div class="container">
  <mat-toolbar>
    <span>Agregar Propiedades</span>
  </mat-toolbar>

  <mat-card>
    <mat-card-content style="margin-top: 10px;">
      <form [formGroup]="form" (ngSubmit)="agregarPropiedad()">
        <mat-grid-list cols="4" rowHeight="70px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Nombre de la Propiedad</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3" [rowspan]="5">
            <img src="./assets/img/forSale.png" width="250" height="250">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Direccion</mat-label>
              <input matInput formControlName="direccion">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Costo de la Propiedad</mat-label>
              <input matInput formControlName="costoPropiedad">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field class="ancho">
              <mat-label>Tipo de Propiedad</mat-label>
              <mat-select formControlName="tipoPropiedad">
                <mat-option *ngFor="let item of tipoPropiedad" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button style="margin-right: 20px;">Volver</button>
            <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>
