<div class="container">
  <mat-toolbar>
    <span>Propiedades</span>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/dashboard/crear-propiedades">Agregar</button>
  </mat-toolbar>

  <div *ngIf="listPropiedades.length>0">
    <!-- Filtro de la tabla -->
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de la propiedad </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Direccion </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="costoPropiedad">
          <th mat-header-cell *matHeaderCellDef> Costo</th>
          <td mat-cell *matCellDef="let element"> {{element.costoPropiedad}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tipoPropiedad">
          <th mat-header-cell *matHeaderCellDef> Tipo Propiedad </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoPropiedad}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i=index" style="text-align: right;">
            <!-- Seccion de Iconos -->
            <a class="pointer" style="color: #1878b0;" matTooltip="Ver Propiedad">
              <mat-icon>search</mat-icon>
            </a>
            <a class="pointer" style="color: #1f516f;" matTooltip="Editar Propiedad">
              <mat-icon>edit</mat-icon>
            </a>
            <a class="pointer" (click)="eliminarPropiedad(i)" style="color: #e15639;" matTooltip="Eliminar Propiedad">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
  <h2 *ngIf="listPropiedades.length==0">Sin registros</h2>
</div>
